@import url(http://fonts.googleapis.com/css?family=Karla);
html {
	font-family:'Karla',sans-serif;
	font-weight:400;background-color:#fff;
	color:#000;font-size:1.5em;
	line-height:1.3em;text-rendering:optimizeLegibility
}

body {padding:0 3em 3em}

div.center{
	text-align: center
}

#wrapper{max-width:600px;margin:0 auto}

.hello{margin:2.4em 0 1em}

.hello>#title>a{color:#000;line-height:1em;text-decoration:none}

.hello>#description{color:#999}

#menu{margin-bottom:2.4em}

#menu ul{list-style:none;display:inline-block;margin:0;padding:0}

#menu li{display:inline-block;margin-right:.4em}

#menu li>a{text-decoration:none;color:#000}

.current{border-bottom:3px solid #999}

@media only screen and (max-width:568px){
	body{padding:0 1em 1em;font-size:.9em}
	.hello{margin:1em 0}
	#menu{display:block;padding-right:0}
}