@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700);

/* Typography and background stuff */
body {
    /*background-image: url(http://taehyoung.com/assets/img/bg.jpg);*/
    background-color: #f2f2f2;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

h1{
    color: black;
    font-size:50px;
    font-weight: 700;
}

.intro {
    font-size:20px;
    color: black;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: gray;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* Icons */

.fa-github:hover{
    color: black;
    text-decoration: none;
    outline: 0;
}

.fa-pencil:hover{
    color: #800000;
    text-decoration: none;
    outline: 0;
}

.fa-twitter:hover{
    color: #1dcaff;
    text-decoration: none;
    outline: 0;
}

.fa-facebook:hover{
    color: #44609D;
    text-decoration: none;
    outline: 0;
}
.fa-envelope:hover{
    color: green;
    text-decoration: none;
    outline: 0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.logo {
	margin-top: 50px;
    box-shadow: 2px 2px 5px 0px gray;
    width :140px;
    height :140px;
}

.w {
	margin-top: 5px;
}
.w i {
	font-size: 26px;
	padding: 12px;
}
/* Make tooltip appear higher */
.tooltip.top {
  margin-top: -10px;
}
